@model IEnumerable<Group19_iFINANCEAPP.Models.MasterAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpeningAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClosingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountGroup.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountGroup.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
