@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EncryptedPassword)
        @Html.TextBoxFor(m => m.EncryptedPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PasswordExpiryTime)
        @Html.TextBoxFor(m => m.PasswordExpiryTime, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UserAccountExpiryDate)
        @Html.TextBoxFor(m => m.UserAccountExpiryDate, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })
    </div>
}
