@model IEnumerable<Group19_iFINANCEAPP.Models.UserPassword>
@{
    ViewBag.Title = "All Users";
}
<h2>All Registered Users</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Role</th>
        <th>Password Expiry</th>
        <th>Account Expiry</th>
        <th>Actions</th>
    </tr>

    @foreach (var user in Model)
    {
        var isAdmin = user.Administrator != null;
        <tr>
            <td>@user.ID</td>
            <td>@user.UserName</td>
            <td>@(isAdmin ? "Admin" : "User")</td>
            <td>@user.PasswordExpiryTime days</td>
            <td>@user.UserAccountExpiryDate.ToShortDateString()</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = user.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = user.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = user.ID })
            </td>
        </tr>
    }
</table>
